@font-face {
    font-family: OpenSansLight;
    src: url(Fonts/OpenSans-Light.ttf);
  }
  @font-face {
    font-family: OpenSansMedium;
    src: url(Fonts/OpenSans-Medium.ttf);
  }
  @font-face {
    font-family: OpenSansSemiBold;
    src: url(Fonts/OpenSans-SemiBold.ttf);
  }
  @font-face {
    font-family: OpenSansBold;
    src: url(Fonts/OpenSans-Bold.ttf);
  }
  @font-face {
    font-family: OpenSansExtraBold;
    src: url(Fonts/OpenSans-ExtraBold.ttf);
  }

.navbar ul li{
    padding: 8px 30px;

}
.navbar ul {
margin-right: 10%;
}
.navbar ul a{
    text-decoration: none;
    color: black;
    
}
.navbar ul a:hover{
    text-decoration: none;
    color: #09A603;
}
.navbar-brand {
    margin-left: 5%;
}
.MainPageImage{
    width: 100%;
    height: 70%;
    position: absolute;
    filter: blur(8px);
    -webkit-filter: blur(8px) brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.PageImage{
    width: 100%;
    height: 30%;
    position: absolute;
    filter: blur(8px);
    -webkit-filter: blur(8px) brightness(50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_text_props{
    margin-top: 9%;
    position: absolute;
    width: 100%;
    height: 75%;
    
    color: #09A603;
}
.navbar-nav{
    font-family: OpenSansBold;
    
}
.navbar-light{
    box-shadow: 0px 3px 7px;
    z-index: 20;
}

.maintitle{
    font-family: OpenSansExtraBold;
    font-size: 60px;
    text-shadow: 2px 0px 6px black;
}
.PageTitle{
    position: absolute;
    font-family: OpenSansExtraBold;
    font-size: 60px;
    text-shadow: 2px 0px 6px black;
    color:white;
    margin-top: 90px;
}


.TypeTextShort{
    margin-top: 30px;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: white;
}
.header_text_props::first-line{
	color:rgb(255, 255, 255);
}
.btn-primary{
    font-family: OpenSansSemiBold;
    background-color: #09A603;
    border-radius: 37px 37px 37px 37px;
    width: 150px;
    height: 45px;
    border-width: 0px;
    
}
.btn-primary:hover{
    background-color: #ffffff;
    color:#09A603;
}
.btn-secondary{
    font-family: OpenSansSemiBold;
    background-color: #ffffff;
    border-radius: 37px 37px 37px 37px;
    width: 150px;
    height: 45px;
    border-width: 0px;
    color: #09A603;
    
}
.btn-secondary:hover{
    background-color: #09A603;
    color:white;
}
